{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task_work</title>
    <link rel="stylesheet" href="{% static 'styles/first.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>

    <center>
        <h1>Коментарі</h1>
    </center>
    <p></p>

    {% for comment in comments %}
    <div class="row">
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ task.name }}</h5>
            <h4>{{ comment.user }}</h4>
            <p class="card-text">{{ comment.text }}</p>
            <p class="card-text">{{ comment.date }}</p>
            <a href="{% url 'comment_update_page' comment.id %}"><button class="btn btn-warning">Редагувати</button></a>
            <a href="{% url 'comment_delete_page' comment.id %}"><button class="btn btn-danger">Видалити</button></a>
        </div>
        </div>
    </div>
    <p></p>
    {% endfor %}
    <p></p>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <center>
                <button type="submit", class="btn btn-success">Надіслати</button>
            </center>
        </div>
    </form>
    <p></p>
    <center>
        <a href="{% url 'Task_main_page' %}"><button type="submit", class="btn btn-secondary">Назад</button></a>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>